.app{
    padding: 0;
    margin: 0;
    max-width: 100vw;
    background-color: #F6F8FA;
    display: flex;
    flex-direction: column;
   
    margin-bottom: 30px;
}

html, body{
    background-color: #F6F8FA;
    padding: 0;
    margin: 0;
}

.PageTitle{
    margin-bottom: 0;
}