.app{
 
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #F6F8FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

html, body{
    background-color: #F6F8FA;
    padding: 0;
    margin: 0;
}