.header{
    height: 64px;   
    width: 100%;
    display: flex;
    align-items: center;

    border-bottom: 2px #D9D9D9 solid;
}
a{
    text-decoration:none ;
}
.header__link-wrapper{
    min-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-inline: auto;
}

.header__link{
    color: black;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.header__link-text{
    color: currnetColor;
    font-family: "roboto";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    transition: 0.2s;
}

.header__link:hover{
    color: #518581;
}