.topic-item{
    width: fit-content;
    height: 22px;
    background-color: #DAEDFF;
    border-radius: 20px;
    color: #0066CC;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 16px;
}